*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
  margin: 20px 0 20px 0;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  color: grey;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  margin: 50px 0 50px 0;
}

button {
  font-size: 14px;
  background-color: #000;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

header {
  width: 100%;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #fff;
  background-color: #744c24;
  position: fixed;
  border-bottom: 2px solid #8f755f;
}

.navbar div {
  margin: 10%;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  padding: 20px;
}

.navbar ul li {
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 20px;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sekcija-proizvodi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.proizvodi {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.proizvod {
  margin: 10px;
}

.dodaj-u-korpu-card {
  background-color: bisque;
  text-transform: uppercase;
}

.slika-proizvoda {
  width: 100%;
  height: auto;
}

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}

.sekcija-korisnici {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.korisnici {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.korisnik-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #212121;
  margin: 10px;
  background-color: #f8f8f8;
}

.slika-korisnika {
  margin: 40px 0 40px 0;
}

.tekst-korisnika {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 30px 0 30px;
}

.ime-korisnika {
  text-transform: uppercase;
  font-weight: 700;
  padding: 50px;
}

.korisnik-img {
  width: 80px;
  border-radius: 50%;
}

.sekcija-o-nama {
  display: flex;
  justify-content: center;
}

.sekcija-o-nama div {
  width: 50%;
  height: 50vh;
}

.reklama {
  display: flex;
  justify-content: center;
}

.reklama-img {
  margin: auto;
}

.tekst-o-nama {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.tekst-o-nama p {
  margin-right: 20%;
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.hero {
  height: 70vh;
  background-image: url("assets//slike/kafi.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #212121;
  width: 100%;
  height: 30vh;
  color: #fff;
  margin-top: 150px;
}

.footer-left-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-right-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-list {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.footer-list ul {
  list-style: none;
  line-height: 1.5;
}

.footer-list ul li {
  cursor: pointer;
}

.footer-logo {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin: 10px 0 10px 0;
}

.copyright {
  display: flex;
  margin: 20px 0 20px 0;
  width: 80%;
  justify-content: space-between;
}

@media only screen and (max-width: 1366px) {
  nav ul {
    width: 100%;
    font-size: 12px;
  }

  .navbar-svg {
    display: none;
    width: 0;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 60px;

    background-color: #1a1a1a;
    text-align: center;
    z-index: 99;
  }

  .navbar-logo {
    display: none;
    width: 0;
  }

  .navbar-svg {
    display: none;
    width: 0;
  }
  .proizvodi {
    flex-direction: column;
  }
  .korisnici {
    flex-direction: column;
  }

  .korisnik-box {
    width: 100%;
  }

  .reklama {
    display: none;
    width: 0;
  }

  .tekst-o-nama {
    width: 100%;
  }

  .tekst-o-nama p {
    width: 100%;
  }

  .tekst-o-nama h1 {
    text-align: center;
  }

  .sekcija-o-nama div {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .footer div {
    margin: 5%;
  }

  .copyright {
    flex-direction: column;
  }
}
